@{
    ViewBag.Title = "Contact Us";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Contact Us</h1>
         <form>
        <div class="mt-4">
            <h3>Need Help?</h3>
            <p>
                    If you need any help selecting the perfect pie or have questions about our ingredients,
                    don't hesitate to reach out! Our friendly and knowledgeable staff is here to assist you with any inquiries you might have. Whether you're looking for recommendations,
                    special dietary accommodations,
                    or information about our seasonal flavors,
                    we're more than happy to provide the support you need.
                    Feel free to contact us via phone, email, or visit us in person—we're committed to ensuring your experience with us is as delightful as our pies.
                    Thank you for choosing our restaurant,
                    and we look forward to serving you!
             </p>
                <email address="support@example.com" content="click here if you need more suport"></email>
            </div>
        </form>
    </div>

</body>
</html>