################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PiesShop/.vs
/.vs/_piesShop/v17/DocumentLayout.json
/.vs/_piesShop/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
/PiesShop/Migrations/20240603151247_dataBase.Designer.cs
/PiesShop/Migrations/20240605075041_addCustomer.Designer.cs
/PiesShop/Migrations/20240605150817_shoppingCard.Designer.cs
/PiesShop/Migrations/20240609151642_data.cs
/PiesShop/Migrations/20240609151642_data.Designer.cs
/PiesShop/Migrations/ShopDBContextModelSnapshot.cs
/PiesShop/bin/Debug/net8.0
/PiesShop/obj/Debug/net8.0/ref/PiesShop.dll
/PiesShop/obj/Debug/net8.0/refint/PiesShop.dll
/PiesShop/obj/Debug/net8.0/staticwebassets/msbuild.build.PiesShop.props
/PiesShop/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.PiesShop.props
/PiesShop/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.PiesShop.props
/PiesShop/obj/Debug/net8.0/staticwebassets/msbuild.PiesShop.Microsoft.AspNetCore.StaticWebAssets.props
/PiesShop/obj/Debug/net8.0/apphost.exe
/PiesShop/obj/Debug/net8.0/PiesShop.AssemblyInfo.cs
/PiesShop/obj/Debug/net8.0/PiesShop.AssemblyInfoInputs.cache
/PiesShop/obj/Debug/net8.0/PiesShop.assets.cache
/PiesShop/obj/Debug/net8.0/PiesShop.csproj.CoreCompileInputs.cache
/PiesShop/obj/Debug/net8.0/PiesShop.csproj.FileListAbsolute.txt
/PiesShop/obj/Debug/net8.0/PiesShop.csproj.Up2Date
/PiesShop/obj/Debug/net8.0/PiesShop.dll
/PiesShop/obj/Debug/net8.0/PiesShop.GeneratedMSBuildEditorConfig.editorconfig
/PiesShop/obj/Debug/net8.0/PiesShop.genruntimeconfig.cache
/PiesShop/obj/Debug/net8.0/PiesShop.MvcApplicationPartsAssemblyInfo.cache
/PiesShop/obj/Debug/net8.0/PiesShop.pdb
/PiesShop/obj/Debug/net8.0/PiesShop.sourcelink.json
/PiesShop/obj/Debug/net8.0/project.razor.vs.bin
/PiesShop/obj/Debug/net8.0/staticwebassets.build.json
/PiesShop/obj/Debug/net8.0/staticwebassets.development.json
/PiesShop/obj/Debug/net8.0/staticwebassets.pack.json
/PiesShop/obj/PiesShop.csproj.nuget.dgspec.json
/PiesShop/obj/project.assets.json
/PiesShop/obj/project.nuget.cache
/PiesShop/obj/Release/net8.0
