################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PiesShop/.vs
/.vs/_piesShop/v17/DocumentLayout.json
/.vs/_piesShop/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
